body {
    background-color: #242d34;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(21, 21, 21);
    width: 600px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.box,
.box button {
    display: flex;
    align-items: center;

}

.box {
    width: 300px;
    height: 240px;
    flex-direction: column;
    justify-content: space-evenly;
}

.box button {
    width: 300px;
    height: 40px;
    background-color: rgb(185, 183, 183);
    outline: none;
    font-weight: bold;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 20px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.box-one button img {
    margin: 0.5rem;
} 
.box-three:hover{
    background-color:#1d9bf0;
    border-radius: 15px;
}
.frgt-btn:hover{
 background-color: #1d9bf0;
}

.box-one i {
    color: rgb(0, 98, 255);
    font-size: 1.8rem;
}

.box-two input {
    position: relative;
    width: 300px;
    height: 55px;
    outline: none;
    font-size: 20px;
    border: 1px solid rgb(103, 20, 20); 

}

.box-two input label {
    position: absolute;
    top: 0%;
}

.box-two input::placeholder {
    font-size: 1rem;
}
.box-two .next-btn{
    background-color: #121212;
    color: rgb(255, 255, 255);

}
.container p {
    font-size: .7rem;
    color: rgb(136, 138, 138);
}
.container p a{
    text-decoration: none;
    color: rgb(0, 60, 255);
}
span{
    cursor: pointer;
   
}
button{
    cursor: pointer;
}
